@model AtomicSynergisitcs.DATA.Models.ProductType

@{
    ViewData["Title"] = "Edit | " + Model.ProductTypeName;
}



<div class="row">
    <div class="col-md-4 offset-4 ">
        <h1>Edit @Model.ProductTypeName</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductTypeId" />
            <div class="form-group">
                <label asp-for="ProductTypeName" class="control-label"></label>
                <input asp-for="ProductTypeName" class="form-control" />
                <span asp-validation-for="ProductTypeName" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
